<p id="notice"><%= notice %></p>

<div class="container">

</div>

<%= link_to "Download", @dataset.working_file %>
<%= link_to 'Edit', edit_dataset_path(@dataset) %> |
<%= link_to 'Back', datasets_path %>
