<br>
<br>
<br>
<br>
<% if @report.nil? %>
  <div class="card">
    <h2 class="text-center">There's nothing here.</h2>
    <br>
    <p class="text-center">Get started by creating a new report.</p>
    <br>
    <img class="center-block" src="newreport.gif" alt="">
  </div>

<% else %>

<% @cards.each do |card| %>

<div class="card-preview card inline">
  <div class="center-block">
    <h5 class='card-title text-center'><%= card.title%></h5>
    <% if card.chart_type == "pie_chart" %>
      <%= render 'layouts/pie_chart', :card => card%>
    <% elsif card.chart_type == "bar_graph" %>
      <%= render 'layouts/bar_graph', :card => card%>
    <% end %>
  </div>
</div>



<% end %>

<% end %>
