<% if @report.nil? %>
  <div class="card">
    <h1>There's nothing here.</h1>
    <a href="<%= new_report_path %>">Create a report</a>
  </div>
<% else %>
<br>
<br>
<br>
<br>
  <%= @report.name %>
  <%  @report.datasets.each do |d|%>
    <% set = Dataset.find(d) %>
    <%= set.count("Question is for Employee or Position?")%>
  <% end %>
<% end %>
<div class="panel panel-default">
  <div class="panel-body">
    Basic panel
  </div>
</div>
