<br>
<br>
<br>
<br>
<% if @report.nil? %>
  <div class="card">
    <h2 class="text-center">There's nothing here.</h2>
    <br>
    <p class="text-center">Get started by creating a new report.</p>
    <br>
    <img class="center-block" src="newreport.gif" alt="">
  </div>

<% else %>

  <%= @report.name %>

<% end %>
