<nav class="navbar navbar-findcond navbar-fixed-top">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a class="navbar-brand" style="font-family:'Roboto'; font-size:20pt; color:#37474F;" href="/dashboard"><img src="/logo-full.png"></a>
		</div>

		<div class="collapse navbar-collapse" id="navbar">
			<ul style="margin-right:30px;" class="nav navbar-nav navbar-right">

        <li class="active"><li><a href="/dashboard"><i class="fa fa-dashboard"></i> <span>Dashboard</span></a></li>
				<li class="dropdown">
					<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">You <i class="fa  fa-angle-down"></i></span></a>
					<ul class="dropdown-menu" role="menu">
						<li><a href="/reports/new">Create Report</a></li>
						<li><a href="/datasets/new">Upload Dataset</a></li>

						<li class="divider"></li>
						<li><a href="/settings">Settings</a></li>
						<li><a href="#exit">Logout</a></li>
					</ul>
				</li>
			</ul>

		</div>
</nav>
<% if controller_name == "site" && action_name == "dashboard" %>
<nav class="navbar  navbar-findcond navbar-default navbar-lower" role="navigation">
  <div class="collapse navbar-collapse collapse-buttons">

			<div class="col-sm-1">
				<button style="margin:10px;" class='btn btn-danger navbar-search pull-left' onclick="location.href='<%= new_report_path%>'">New Report</button>
			</div>
			<% if !@reports.nil?%>
				<div class="col-sm-4">
					<%= form_tag('/dashboard', class: 'navbar-search pull-left btn-group', style: 'margin:10px;') do%>
						<%= select_tag "report", options_from_collection_for_select(@reports, "id", "name", @report.id),:onchange =>'this.form.submit()', class: "form-control" %>
					<% end %>
					<%= link_to 'Edit', '/reports/'+@report.id.to_s+'/edit', class: "btn", style: "margin:10px" %>
				</div>
			<% end %>
		<% end %>

  </div>
</nav>

<style>
.navbar-lower{
	position: fixed;
	top: 65px;
	z-index: 1000;
	width: 100%;
}

#sidebar-wrapper{
	top:65px;
	z-index: 1;
}
</style>

<script>
$('.navbar-lower').affix({
  offset: {top: 65}
});
</script>
