<div class="btn-wrapper" data-toggle="tooltip" title="New Card" data-placement="right" >
  <button class="circle" onclick="location.href='<%= new_card_path %>';">
     <img src="https://ssl.gstatic.com/bt/C3341AA7A1A076756462EE2E5CD71C11/2x/btw_ic_speeddial_white_24dp_2x.png" alt="" />
  </button>
</div>
<script>
$(document).ready(function(){
    $('[data-toggle="tooltip"]').tooltip();
});
</script>
