<div class="btn-wrapper" data-toggle="tooltip" title="New Card" data-placement="right" >
  <% if params[:section] %>
    <% section = params[:section] %>
  <% else %>
    <% section = "cover" %>
  <% end %>
  <button class="circle" onclick="location.href='<%= new_card_path + "?section=" + section%>';">
     <img src="plus.png" alt="" />
  </button>
</div>
<script>
$(document).ready(function(){
    $('[data-toggle="tooltip"]').tooltip();
});
</script>
