<% if defined? @cards %>
  <% columnsData = raw card.dump_data().to_json %>
  <% cardId = "pie"+card.id.to_s %>
<%else%>
  <% columnsData = raw "[['Dogs', 5],['Cats', 2],['Fish', 10],['Hamsters', 2]]" %>
  <% cardId = "preview-pie" %>
<%end%>

<div id="<%= cardId %>" class="example-pie-chart-bottom-legend"></div>
<script>
var c3ChartDefaults = $().c3ChartDefaults();

var pieData = {
type : 'pie',
colors: {
Dogs: $.pfPaletteColors.red,
Cats: $.pfPaletteColors.blue,
Fish: $.pfPaletteColors.orange,
Hamsters: $.pfPaletteColors.green
},

columns: <%= columnsData %>,


onclick: function (d, i) { console.log("onclick", d, i); },
onmouseover: function (d, i) { console.log("onmouseover", d, i); },
onmouseout: function (d, i) { console.log("onmouseout", d, i); }
};
// Pie Chart Bottom Legend
var pieChartBottomConfig = c3ChartDefaults.getDefaultPieConfig();
pieChartBottomConfig.bindto = '#<%= cardId %>';
pieChartBottomConfig.data = pieData;
pieChartBottomConfig.legend = {
show: true,
position: 'bottom'
};
pieChartBottomConfig.size = {
width: 321,
height: 191
};
var pieChartBottomLegend = c3.generate(pieChartBottomConfig);
</script>
